.admin
{
  height: 100vh;
  background: #53565A;
}

.admin .login-form
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.admin .welcome
{
  color:white;
}