body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  background-color: rgb(38, 52, 65);
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

.title-wrapper {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  max-width: 100%;
}

.list {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}