.scroll {
  background-color: rgb(38, 52, 65);
  overflow-x: hidden;
  overflow-y: auto;
}

.title-wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5em;
  margin-bottom: 5em;
}

.about-image {
  display: inline;
  justify-content: stretch;
  width: 35%;
  height: auto;
  margin-left: 10%;
  margin-right: 5%;
}

.about-description {
  display: inline;
  width: 45%;
  margin-right: 15%;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 130%;
  padding: 15px;
  border: 10px white solid;
  background: rgba(255, 255, 255, 0.3);
}
