.admin-calendar
{
    display:flex;
    flex-direction:column;
}

.admin-calendar .admin-calendar-header
{
    text-align:center;
}

.admin-calendar .admin-calendar-tools
{
    display:flex;
    flex-direction:row;
}