.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #53565A;
}