.full {
  background-color: rgb(38, 52, 65);
}

.title {
  color: #000000;
  height: 20vh;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  font-size: 62px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title-wrapper {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  max-width: 100%;
}

.who-we-are {
  font-size: 50px;
  color: white;
  font-family: Josefin-Bold;
  text-align: center;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}

.home-layer {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  margin-bottom: 5em;
}

.description {
  font-family: Adventor;
  width: 46%;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  vertical-align: middle;
  color: white;
  font-size: 28px;

  padding: 20px;
  border: 10px white solid;
  background: rgba(255, 255, 255, 0.5);
}

.project-photo {
  display: block;
  align-self: left;
  width: 50%;
}

.join-block {
  display: inline;
  width: 46%;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  text-align: left;

  padding: 20px;
  border: 10px white solid;
  background: rgba(255, 255, 255, 0.5);
}

.join-header {
  display: block;
  font-family: Adventor;
  color: white;
  font-size: 300%;
  margin-bottom: 1em;
}

.looking-header {
  display: block;
  font-family: Adventor;
  font-size: 30px;
  color: white;
  margin-bottom: 1em;
}

.looking {
  font-family: Adventor;
  color: white;
  text-align: left;
  font-size: 28px;
  list-style: inside;
}

.apply {
  margin-top: 1em;
  font-size: 28px;
  color: white;
}

a {
  color: gray;
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {
  .home-layer {
    display: grid;
    margin: 0;
  }

  .description {
    justify-self: center;
    margin: 0;
    margin-bottom: 1em;
    width: 75%;
  }

  .project-photo {
    justify-self: center;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 75%;
  }

  .join-block {
    justify-self: center;
    width: 75%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 900px) {
  .home-layer {
    display: grid;
    width: 100%;
  }

  .description {
    justify-self: center;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
  }

  .project-photo {
    justify-self: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
}
