body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  background-color: rgb(38, 52, 65);
  position: absolute;
}

.title-wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.member-grid {
  margin-top: 3em;
  margin-bottom: 5em;
}

.member-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: fit-content;
  padding: 1em;
}

.member-box {
  width: 15%;
  height: fit-content;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.member-image img {
  width: 100%;
  max-height: auto;
  margin-bottom:10%;
  margin-top: 15%;
}

.member-info {
  font-size: 100%;
  border:5px solid white;
  background: rgba(255, 255, 255, 0.5);
  padding: 5%;
}

.member-name {
  font-size: 110%;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .member-name{
    font-size:100%;
  }
  .member-info{
    font-size: 90%;
  }
}

@media screen and (max-width: 500px) {
  .member-name{
    font-size:90%;
  }
  .member-info{
    font-size: 80%;
  }
}