body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  background-color: rgb(38, 52, 65);
}

.title-wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.project-box-list {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.project-box {
  display: grid;
  align-items: top;
  margin-bottom: 5em;
  width: 60%;
  height: fit-content;
  margin-left: 20%;
  margin-right: 20%;
}

.project-image img {
  width: 100%;
  max-width: 100%;
  max-height: auto;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}

.project-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
}

.project-title {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
}

.project-info {
  word-wrap: break-word;
  max-width: 100%;
  border: 10px white solid;
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
  font-size: 130%;
  justify-self: center;
}

.project-content {
  display: flex;
  list-style: none;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .project-content {
    display: grid;
  }
}
@media screen and (max-width: 550px){
  .project-box{
    margin:0%;
    padding:0%;
    width: 100%;
  }
  .project-data{
    margin:0;
  }
}