.navbar {
    display: flex;
    background:rgb(216, 113, 50);
    height: 5.05rem;
    top: 2.75rem;
    left: 0;
    z-index: 999;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    align-items: center;
    color: white;
}

.navbar-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width:50%;
    color:white;
}

.navbar-item{
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

.navbar-item a{
    color: white;
}

.navbar-logo{
    justify-content: center;
    height: 3rem;
    margin-right: 1rem;
}

.navbar-logo-area{
    display: flex;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: lighter;
    justify-content: left;
    text-align: bottom;
    margin-top: .50rem;
    color: white;
}

.navbar-menu-icon{
    text-align: end;
    justify-content: end;
    margin-right: 1rem;
}

.navbar-menu.active{
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.navbar-icon{
    display: flex;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: end;
    margin-right: 1.75rem;
    height: 1.75rem;
}
