.page-title {
  /*
  font-size: 200%;
  color: rgb(0, 82, 155);
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  */

  font-family: Josefin-Bold;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
