.App {
    display: flex;
    height: 52vh;
    align-items: center;
    background-color: rgb(219, 223, 209);
  }
  
  .main {
    background-color: rgb(219, 223, 209);
    overflow: hidden;
    position: relative;
  }
  
  .swiper {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
  }
  
  img {
    object-fit: contain;
  }
  
  .move {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
  }
  
  .back {
    left: 5px;
  }
  .next {
    right: 5px;
  }
  
  .back:hover, .next:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(163, 163, 163, 0.8);
  }