.slider {
  position: relative;
  height: 58vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1770px;
  height: 500px;
  border-radius: 0px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 3px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  color: black;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 3px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  color: black;
  user-select: none;
}

.slide {
  opacity: 0.8;
  transition-duration: 0s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1.2s;
  transform: scale(1.08);
}