.scroll {
  background-color: rgb(219, 223, 209);
  overflow-x: hidden;
  overflow-y: auto;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 80px;
}

.about-image {
  display: inline;
  justify-content: stretch;
  width: 35%;
  height: auto;
  margin-left: 10%;
  margin-right: 5%;
}

.about-description {
  display: inline;
  width: 45%;
  margin-right: 15%;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 130%;
  padding: 15px;
  border: 10px white solid;
  background: rgba(255, 255, 255, 0.3);
}

.calendar-temp-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 50px;
}
